*{
    margin:0px;
    padding: 0px;
}
h1{
    color: white;
}
html{
    background-image: url('images/img.jpg');
    background-size: cover;
}
label{
    color: white;
}
.small-title{
    font-size: 1.3ch;
    color: rgb(0, 0, 107);
}
.container{
    background-color: rgba(0, 0, 0, 0.475);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
    padding: 40px;
    border-radius: 10%;
}
.formContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    margin-top: 40px;
}
input,textarea{
    font-size: 15px;
    margin-top: 5px;
    height: 20px;
    padding: 10px;
}
textarea{
    height: 50px;
}
.filetype{
    background-color: white;
    width: 74%;
    font-size: 5px;
    border: 0.5px solid rgba(52, 51, 51, 0.432);
}
.submit{
    margin-top: 30px;
    margin-left: 150%;
    width: 90px;
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 5px;
    box-shadow: none;
    border-radius: 20px;
    border: 1px solid red;
    transition: 0.199s ease-in;
    
}
.submit:hover{
    cursor: pointer;
    background-color: aliceblue;
    color: black;
}
#cv{
    box-decoration-break: none;
    text-decoration: none;
    font-size: 14px;
}
select{
    font-size: 15px;
    margin-top: 5px;
    height: 40px;
    width: 80%;
    padding: 10px;
    font-size: 14px;
}
