*{
    margin:0px;
    padding: 0px;
}
.small-title{
    font-size: 1.3ch;
    color: rgb(0, 0, 107);
}
.container{
    background-color: antiquewhite;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    padding: 40px;
    border-radius: 10%;
}
.formContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    margin-top: 40px;
}
input,textarea{
    font-size: 15px;
}
.submit{
    margin-top: 30px;
    margin-left: 80%;
    width: 90px;
}
